#imagen1{
    width: 5%;
}
#logo_principal{
    width: 10%;
}
#titulo{
    font-family: 'Lobster', cursive;
    font-size: 100px;
}
body{
    background-image: linear-gradient(to right top, white, purple);
    height: 200%;
    margin: 0;
}
#seccion1{
   border-color: black;
   border-width: 7px;
   border-style: double;
   margin-left: 500px;
   margin-right: 500px;
}
#boton{
    background-color: black;
    color: white;
}
#boton2, #boton3{
    background-color: black;
    color: white;
    width: 100px;
}
#Entrada_texto2{
    width: 190px;
}
